html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.fab .fa-facebook-f {
  font-size: 1000px;
}

.navbar .container-fluid {
  width: 100%;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
}

.navbar-brand {
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: bold;
  padding-left: 10px;
}

.collapse {
  /* display: flex-end; */
  flex-direction: column;
}

.containerFoto {
  display: flex;
  height: 500px;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  background-image: url(assets/profes/edicionfoto2.png);
  background-color: transparent;
  opacity: 0.6;
  background-position-x: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.ppalFotoTexto {
  display: flex;
  align-items: center;
  padding-right: 100px;
  padding-left: 100px;
  color: rgb(255, 255, 255);
  /* justify-self: center; */
  /* align-self: center; */
  font-weight: 900;
  /* font-variant: small-caps slashed-zero; */
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
}

main {
  flex: 1;
}

footer {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  align-items: center;
  padding-top: 1.5rem !important;
}

.copyright {
  display: flex;
  width: auto;
  height: fit-content;
  /* flex-direction: row; */
  padding: 20px;
  font-size: small;
}


.profes {
  display: flex;
  border-top: 40px solid transparent;
  border-bottom: 40px solid transparent;
  justify-content: center;
}

.descripcionProfe {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: auto; */
  border-top: 40px solid transparent;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  border-bottom: 40px solid transparent;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.containerProfe {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}